html, body {
    height: 100%;
    margin: 0;
    background-color: oldlace
    }

h1 {
    font-family: "Noto Sans Display", sans-serif;
    text-align: center;
    text-transform: capitalize;
    
}

#main {
    container-type: flex;
    flex-flow: column;
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.thumb{
    border-radius: 10px
}


.button{
    font-family: "Noto Sans Display", sans-serif;
    background-color: goldenrod; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: wheat;
    color: goldenrod
}

#btnHolder{
    margin-top: 20px;
    text-align: center;
    
}